<div class="support-footer bg-gr-10">
  <div class="container">
    <div class="support-menu">
      <div class="d-none d-lg-block pt-lg-5 pb-lg-3">
        <h5 class="text--b text--le text--color-bk">Bạn cần hỗ trợ?</h5>
      </div>
      <div class="row mt-2">
        <div class="col-4 col-md-4 col-lg-4 d-none d-lg-block">
          <div class="d-flex align-items-center align-items-lg-start py-2 py-lg-0">
            <div class="mr-2 mr-lg-3 icon-sp">
              <i class="icon icon-phone-call--color-multi"></i>
            </div>
            <div>
              <div class="link">
                <div class="h6 text--b text--color-bk d-none d-lg-block">Tổng đài 1900&nbsp;5555&nbsp;92</div>
              </div>
              <div class="submenu">
                <div class="mt-1 h8 text--color-gr">
                  Tổng đài hỗ trợ trực tuyến 24/7 sẵn sàng trả lời mọi thắc mắc
                </div>
                <div class="mt-3 h8 text--color-bl">
                  <a href="tel:1900 5555 92" class="button-text button-text--sm button-text--has-icon-right">
                    Bấm để gọi ngay
                    <i class="icon icon-arrow-right--bl"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-4 col-lg-4">
          <div class="d-flex align-items-center align-items-sm-start align-items-lg-start py-2 py-lg-0">
            <div class="mr-2 mr-lg-3 icon-sp">
              <i class="icon icon-mail-contact--color-multi"></i>
            </div>
            <div>
              <div class="link">
                <div class="h6 text--b text--color-bk d-none d-lg-block">Đăng ký nhận tư vấn</div>
                <a href="https://beta.pvcombank.com.vn/lead_form_1?returnUrl=http://beta.pvcombank.com.vn" class="h8 button-text text--b text--color-bk d-block d-lg-none" target="_blank">Đăng ký nhận tư vấn</a>
              </div>
              <div class="submenu d-sm-block">
                <div class="mt-1 h8 text--color-gr">
                  Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất có thể
                </div>
                <div class="mt-3 h8 text--color-bl">
                  <a href="https://beta.pvcombank.com.vn/lead_form_1?returnUrl=http://beta.pvcombank.com.vn" class="button-text button-text--sm button-text--has-icon-right" target="_blank">
                    Đăng ký ngay
                    <i class="icon icon-arrow-right--bl"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-h divider-h--gr d-block d-sm-none"></div>
        </div>
        <div class="col-4 col-sm-3 col-md-4 col-lg-4">
          <div class="d-flex align-items-center align-items-sm-start align-items-lg-start py-2 py-lg-0">
            <div class="mr-2 mr-lg-3 icon-sp">
              <i class="icon icon-branch-building--color-multi"></i>
            </div>
            <div>
              <div class="link">
                <div class="h6 text--b text--color-bk d-none d-lg-block">Tìm chi nhánh gần bạn</div>
                <a href="https://beta.pvcombank.com.vn/mang-luoi.html" class="h8 button-text text--b text--color-bk d-block d-lg-none" target="_blank">Tìm chi nhánh gần bạn</a>
              </div>
              <div class="submenu d-sm-block">
                <div class="mt-1 h8 text--color-gr">
                  Tìm chi nhánh, ATM hoặc phòng giao dịch gần vị trí của bạn nhất
                </div>
                <div class="mt-3 h8 text--color-bl">
                  <a href="https://beta.pvcombank.com.vn/mang-luoi.html" class="button-text button-text--sm button-text--has-icon-right" target="_blank">
                    Mở danh sách
                    <i class="icon icon-arrow-right--bl"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-h divider-h--gr d-block d-sm-none"></div>
        </div>
      </div>
      <div class="row mt-lg-5 align-items-stretch">
        <div class="col-4 col-sm-3 col-md-4 col-lg-4">
          <div class="d-flex align-items-center align-items-sm-start align-items-lg-start py-2 py-lg-0 h-100">
            <div class="mr-2 mr-lg-3 icon-sp">
              <i class="icon icon-earth-currency--color-multi"></i>
            </div>
            <div class="">
              <div class="link">
                <div class="h6 text--b text--color-bk d-none d-lg-block">Tra cứu tỉ giá</div>
                <a href="https://beta.pvcombank.com.vn/ti-gia-ngoai-te.html" class="h8 button-text text--b text--color-bk d-block d-lg-none" target="_blank">Tra cứu tỉ giá</a>
              </div>
              <div class="submenu d-sm-block">
                <div class="mt-1 h8 text--color-gr flex-grow-1">
                  Tỉ giá tốt nhất, cập nhật liên tục từng phút cho bạn
                </div>
                <div class="mt-3 h8 text--color-bl">
                  <a href="https://beta.pvcombank.com.vn/ti-gia-ngoai-te.html" class="button-text button-text--sm button-text--has-icon-right" target="_blank">
                    Mở công cụ
                    <i class="icon icon-arrow-right--bl"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-h divider-h--gr d-block d-sm-none"></div>
        </div>
        <div class="col-4 col-sm-3 col-md-4 col-lg-4">
          <div class="d-flex align-items-center align-items-sm-start align-items-lg-start py-2 py-lg-0">
            <div class="mr-2 mr-lg-3 icon-sp">
              <i class="icon icon-calculator--color-multi"></i>
            </div>
            <div>
              <div class="link">
                <div class="h6 text--b text--color-bk d-none d-lg-block">Biểu lãi suất</div>
                <a href="https://beta.pvcombank.com.vn/bieu-lai-suat.html" class="h8 button-text text--b text--color-bk d-block d-lg-none" target="_blank">Biểu lãi suất</a>
              </div>
              <div class="submenu d-sm-block">
                <div class="mt-1 h8 text--color-gr">
                  Cần tính thử lãi suất cho khoản vay hay tiết kiệm của bạn?
                </div>
                <div class="mt-3 h8 text--color-bl">
                  <a href="https://beta.pvcombank.com.vn/tinh-lai-suat-va-chuyen-doi-ti-gia" class="button-text button-text--sm button-text--has-icon-right" target="_blank">
                    Mở công cụ
                    <i class="icon icon-arrow-right--bl"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 d-none d-lg-block col-lg-4">
          <div class="d-flex align-items-center align-items-sm-start align-items-lg-start py-2 py-lg-0">
            <div class="mr-2 mr-lg-3 icon-sp">
              <i class="icon icon-gift-box--color-multi"></i>
            </div>
            <div>
              <div class="h6 text--b text--color-bk d-none d-lg-block">Thế giới ưu đãi</div>
              <a href="https://beta.pvcombank.com.vn/uu-dai-wow-dmkm1.html" class="h8 button-text text--b text--color-bk d-block d-lg-none" target="_blank">Thế giới ưu đãi</a>
              <div class="mt-1 h8 text--le text--color-gr">
                Ưu đãi ngập tràn và luôn được cập nhật
              </div>
              <div class="mt-3 h8 text--color-bl">
                <a href="https://beta.pvcombank.com.vn/uu-dai-wow-dmkm1.html" class="button-text button-text--sm button-text--has-icon-right" target="_blank">
                  Khám phá ngay
                  <i class="icon icon-arrow-right--bl"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-footer bg-gr-60">
  <div class="container accordion" id="footer-accordion">
    <div class="row pt-2 mt-2 pt-lg-5 mt-lg-5 edit-text">
      <div class="col-4 col-md-8 col-lg-3">
        <div class="h8 text--b text--color-wh link d-flex justify-content-between py-2 py-lg-0">
          CÁ NHÂN
          <div class="icon-collapse">
            <i class="icon icon-plus--wh d-block d-lg-none"></i>
          </div>
        </div>
        <ul class="submenu d-lg-block">
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/dich-vu-the-dmsp40.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Dịch vụ Thẻ
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/san-pham-vay-dmsp39.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Sản phẩm Vay
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/tiet-kiem-dmsp38.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Tiết kiệm
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/ngan-hang-so-dmsp37.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Ngân hàng số
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/tai-khoan-dmsp36.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Tài khoản
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/bao-hiem-dmsp35.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Bảo hiểm
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/san-pham-khac-dmsp47.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Sản phẩm khác
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
        </ul>
        <div class="divider-h divider-h--wh d-block d-lg-none divider-collapse"></div>
      </div>
      <div class="col-4 col-md-8 col-lg-3">
        <div class="h8 text--b text--color-wh link d-flex justify-content-between py-2 py-lg-0">
          DOANH NGHIỆP
          <div class="icon-collapse">
            <i class="icon icon-plus--wh d-block  d-lg-none"></i>
          </div>
        </div>
        <ul class="submenu d-lg-block">
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/tin-dung-doanh-nghiep-dmsp46.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Tín dụng Doanh nghiệp
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/tai-khoan-doanh-nghiep-dmsp45.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Tài khoản Doanh nghiệp
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/ngan-hang-giao-dich-dmsp44.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Ngân hàng giao dịch
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
        </ul>
        <div class="divider-h divider-h--wh d-block d-lg-none divider-collapse"></div>
      </div>
      <div class="col-4 col-md-8 col-lg-3">
        <div class="h8 text--b text--color-wh link d-flex justify-content-between py-2 py-lg-0">
          VỀ PVCOMBANK
          <div class="icon-collapse">
            <i class="icon icon-plus--wh d-block  d-lg-none"></i>
          </div>
        </div>
        <ul class="submenu d-lg-block">
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/gioi-thieu-ve-pvcombank.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Giới thiệu
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/co-cau-quan-tri.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Cơ cấu quản trị
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/co-dong.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Quan hệ cổ đông
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/mang-luoi.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Mạng lưới
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://tuyendung.pvcombank.com.vn/" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Tuyển dụng
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/lien-he.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Liên hệ
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
        </ul>
        <div class="divider-h divider-h--wh d-block d-lg-none divider-collapse"></div>
      </div>
      <div class="col-4 col-md-8 col-lg-3">
        <div class="h8 text--b text--color-wh link d-flex justify-content-between py-2 py-lg-0">
          LIÊN KẾT NHANH
          <div class="icon-collapse">
            <i class="icon icon-plus--wh d-block d-lg-none"></i>
          </div>
        </div>
        <ul class="submenu d-lg-block">
          <li class="mb-2 mb-lg-0">
            <a href="https://ibanking.pvcombank.com.vn/WebIB/MainIB" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Ngân hàng điện tử
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/uu-dai-wow-dmkm1.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Thế giới ưu đãi WOW
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/tin-tuc/tin-pvcombank/bieu-phi-dich-vu-qua-he-thong-ngan-hang-tmcp-dai-chung-viet-nam-pvcombank-1541.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Biểu phí
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://beta.pvcombank.com.vn/bieu-lai-suat.html" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Lãi suất
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://ibanking.pvcombank.com.vn/WebIB/tra-cuu-hop-dong-bds" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Tra cứu thông tin người mua BĐS
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
          <li class="mb-2 mb-lg-0">
            <a href="https://ibanking.pvcombank.com.vn/WebIB/tra-cuu-bao-lanh" class="button-text button-text--sm button-text--has-icon-left h8 text--color-wh mt-0 mt-lg-2" target="_blank">
              Xác thực chứng thư bảo lãnh online
              <i class="icon icon-arrow-right--wh"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-lg-flex align-items-center mt-lg-6 mt-4 pb-3">
      <div class="d-flex align-items-center pb-1 pb-lg-0">
        <div class="d-lg-flex align-items-center mr-2">
          <a class="logo pvc-app" href="https://beta.pvcombank.com.vn/#"></a>
        </div>
        <div class="h9 text--b text--color-wh mr-2">
          Ứng dụng ngân hàng di động
          <br> PV-Mobile Banking
        </div>
      </div>
      <div class="d-lg-flex align-items-center">
        <a class="button-badge button-badge__ios-apple mr-1" target="_blank" href="https://itunes.apple.com/vn/app/pv-mobile-banking/id957284067?mt=8"></a>
        <a class="button-badge button-badge__google-play-store" target="_blank" href="https://play.google.com/store/apps/details?id=com.vsii.pvcombank"></a>
      </div>
    </div>
    <div class="divider-h divider-h--wh divider-collapse"></div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="h10 text--le text--color-wh mr-5 py-3">
        Bản quyền © 2020 thuộc về Ngân hàng TMCP Đại Chúng Việt Nam (PVcomBank)
      </div>
      <div class="social-icon d-flex justify-lg-content-center justify-content-start">
        <!--
            <select autocomplete="off" class="d-lg-none menu-language-select form-control on-dark form-control--sm">
                <option value="en">EN</option>
                <option value="vi" selected="">VI</option>
            </select>
        -->
        <a href="https://www.facebook.com/PVcomBankFanpage" target="_blank" class="button-text none-underline mr-1">
          <i class="icon icon-social-facebook"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCWM9M4MJkrQsMecV3m2d3AQ" target="_blank" class="button-text none-underline mr-1">
          <i class="icon icon-social-youtube"></i>
        </a>
        <a href="https://zalo.me/110884890514649778" target="_blank" class="button-text none-underline mr-1">
          <i class="icon icon-social-zalo"></i>
        </a>
      </div>
    </div>
  </div>
</div>