<div class="container p-0 bg-wh">
  <div id="frontend-header-wrapper" class="position-relative d-flex justify-content-between align-items-center pl-lg-3 pl-xl-5 border-bottom">
    <button class="button-toggle-nav-mobile d-lg-none" type="button" data-toggle="nav-mobile-container" onclick="openNavMobile(this)">
      <i class="icon icon-menu--bk"></i>
    </button>
    <a id="frontend-logo" href="https://beta.pvcombank.com.vn/" class="logo pvc--original mr-0 mr-lg-4"></a>
    <a href="tel:1900 5555 92" class="button-text button-text--sm d-block d-lg-none mr-2">
      <div class="h8 text--b text--le">1900 5555 92</div>
    </a>
    <div class="head-group d-none d-md-none d-lg-block ml-auto">
      <div id="top-head" class="">
        <div id="top-head-wrapper">
          <span>
            <a href="http://facebook.com/PVcomBankFanpage" target="_blank" class="fb-link"></a>
          </span>
          <ul class="w-100 d-flex align-items-center border-bottom">
            <li class="d-flex align-items-center mr-5">
              <a href="tel:1900 5555 92" class="d-flex header__hotline">
                <i class="icon icon-call-phone--bk mr-lg-half"></i>
                <div class="h9 text--b text--color-bk">Hotline&nbsp;1900&nbsp;5555&nbsp;92</div>
              </a>
              <a href="tel:1900 5555 92"></a>
            </li>
            <li class="mr-3 d-flex">
              <a class="h9" href="https://beta.pvcombank.com.vn/mang-luoi.html" target="_blank">
                ATM &amp; Chi nhánh
              </a>
            </li>
            <li class="mr-3 d-flex">
              <a class="h9" href="https://beta.pvcombank.com.vn/bieu-lai-suat.html" target="_blank">
                Lãi suất
              </a>
            </li>
            <li class="mr-3 d-flex">
              <a class="h9" href="https://beta.pvcombank.com.vn/ti-gia-ngoai-te.html" target="_blank">
                Tỉ giá
              </a>
            </li>
            <li class="mr-3 d-flex">
              <a class="h9" href="https://beta.pvcombank.com.vn/bieu-lai-suat.html" target="_blank">
                Biểu lãi suất
              </a>
            </li>
            <li class="mr-3 d-flex">
              <a class="h9" href="https://tuyendung.pvcombank.com.vn/" target="_blank">
                Tuyển dụng
              </a>
            </li>
            <li class="pr-0 pr-xl-6 mr-6">
              <a class="h9" href="https://beta.pvcombank.com.vn/lien-he.html" target="_blank">
                Liên hệ
              </a>
            </li>
            <li class="ml-auto"></li>
          </ul>
        </div>
      </div>
      <!-- End top head -->
      <ul id="main-menu" class="d-flex align-items-center">
        <li class="dropdown-cat mr-3" id="beau-person">
          <a class="text--b d-flex dropdown__item h6">
            Cá nhân
          </a>
          <div class="mega-dropdown-menu box-shadow--lg" id="person-drop">
            <div class="divider-h divider-h--gr"></div>
            <div class="mega-dropdown-menu-wrapper d-lg-flex">
              <div class="flex-grow-1 d-flex flex-wrap">
                <a href="https://beta.pvcombank.com.vn/dich-vu-the-dmsp40.html" class="mega-dropdown-menu__category pt-3 pb-4 d-flex flex-column justify-content-center align-items-center" target="_blank">
                  <i class="icon icon-credit-card--color-multi mb-1"></i>
                  <h6 class="text--b text--mi text--color-bk">Dịch vụ Thẻ</h6>
                </a>
                <div class="divider-v divider-v--gr"></div>
                <a href="https://beta.pvcombank.com.vn/san-pham-vay-dmsp39.html" class="mega-dropdown-menu__category pt-3 pb-4 d-flex flex-column justify-content-center align-items-center" target="_blank">
                  <i class="icon icon-money-stack--color-multi mb-1"></i>
                  <h6 class="text--b text--mi text--color-bk">Sản phẩm Vay</h6>
                </a>
                <div class="divider-v divider-v--gr"></div>
                <a href="https://beta.pvcombank.com.vn/tiet-kiem-dmsp38.html" class="mega-dropdown-menu__category pt-3 pb-4 d-flex flex-column justify-content-center align-items-center" target="_blank">
                  <i class="icon icon-bank-locked-secure--color-multi mb-1"></i>
                  <h6 class="text--b text--mi text--color-bk">Tiết kiệm</h6>
                </a>
                <div class="divider-h divider-h--gr"></div>
                <a href="https://beta.pvcombank.com.vn/ngan-hang-so-dmsp37.html" class="mega-dropdown-menu__category pt-3 pb-4 d-flex flex-column justify-content-center align-items-center" target="_blank">
                  <i class="icon icon-computer-mobile-phone--color-multi mb-1"></i>
                  <h6 class="text--b text--mi text--color-bk">Ngân hàng số</h6>
                </a>
                <div class="divider-v divider-v--gr"></div>
                <a href="https://beta.pvcombank.com.vn/tai-khoan-dmsp36.html" class="mega-dropdown-menu__category pt-3 pb-4 d-flex flex-column justify-content-center align-items-center" target="_blank">
                  <i class="icon icon-account-personal-secure--color-multi mb-1"></i>
                  <h6 class="text--b text--mi text--color-bk">Tài khoản</h6>
                </a>
                <div class="divider-v divider-v--gr"></div>
                <a href="https://beta.pvcombank.com.vn/bao-hiem-dmsp35.html" class="mega-dropdown-menu__category pt-3 pb-4 d-flex flex-column justify-content-center align-items-center" target="_blank">
                  <i class="icon icon-insurance-shield--color-multi mb-1"></i>
                  <h6 class="text--b text--mi text--color-bk">Bảo hiểm</h6>
                </a>
              </div>
              @*<div class="menu-ads flex-shrink-0 pt-3 px-4 d-none d-lg-block">
                <img src="~/Content/css/images/4obO3vahXB.jpg" srcset="~/Content/css/images/4obO3vahXB.jpg 1x, css/images/4obO3vahXB@2x.jpg 2x" alt="Chuyển tiền 24/7&lt;br&gt; Phí 0 đồng">
                <h5 class="text--color-bl mb-2">Chuyển tiền 24/7<br> Phí 0 đồng</h5>
                <a href="https://beta.pvcombank.com.vn/ngan-hang-so-dmsp37.html#chuyen-tien-trong-tich-tac" class="button-solid button-solid--sm button-solid--on-dark" target="_blank">
                  <div class="c-ripple js-ripple">
                    <span class="c-ripple__circle"></span>
                  </div>Tìm hiểu thêm
                </a>
              </div>*@
            </div>
          </div>
          <!-- End dropdown menu -->
        </li>
        <li class="dropdown-cat mr-3" id="beau-business">
          <a class="text--b d-flex dropdown__item h6">
            Doanh nghiệp
          </a>
          <div class="mega-dropdown-menu box-shadow--lg" id="business-drop">
            <div class="divider-h divider-h--gr"></div>
            <div class="mega-dropdown-menu-wrapper d-lg-flex">
              <div class="flex-grow-1 d-flex flex-wrap">
                <a href="https://beta.pvcombank.com.vn/tin-dung-doanh-nghiep-dmsp46.html" class="mega-dropdown-menu__category pt-3 pb-4 d-flex flex-column justify-content-center align-items-center" target="_blank">
                  <i class="icon icon-money-coin-tower--color-multi mb-1"></i>
                  <h6 class="text--b text--mi text--color-bk">Tín dụng Doanh nghiệp</h6>
                </a>
                <div class="divider-v divider-v--gr"></div>
                <a href="https://beta.pvcombank.com.vn/tai-khoan-doanh-nghiep-dmsp45.html" class="mega-dropdown-menu__category pt-3 pb-4 d-flex flex-column justify-content-center align-items-center" target="_blank">
                  <i class="icon icon-account-business-secure--color-multi mb-1"></i>
                  <h6 class="text--b text--mi text--color-bk">Tài khoản Doanh nghiệp</h6>
                </a>
                <div class="divider-v divider-v--gr"></div>
                <a href="https://beta.pvcombank.com.vn/ngan-hang-giao-dich-dmsp44.html" class="mega-dropdown-menu__category pt-3 pb-4 d-flex flex-column justify-content-center align-items-center" target="_blank">
                  <i class="icon icon-bank-international--color-multi mb-1"></i>
                  <h6 class="text--b text--mi text--color-bk">Ngân hàng giao dịch</h6>
                </a>
              </div>
            </div>
          </div>
          <!-- End dropdown menu -->
        </li>
        <li class="mr-3 divider--vertical d-none"></li>
        <li class="mr-3">
          <a href="https://beta.pvcombank.com.vn/gioi-thieu-ve-pvcombank.html" target="_blank">
            <div class="text--le main-menu__secondary-title h8">Về PVcomBank</div>
          </a>
        </li>
        <li class="mr-3">
          <a href="https://beta.pvcombank.com.vn/tin-tuc.html" target="_blank">
            <div class="text--le main-menu__secondary-title h8">Tin tức</div>
          </a>
        </li>
        <li class="mr-3">
          <a href="https://beta.pvcombank.com.vn/co-dong.html" target="_blank">
            <div class="text--le main-menu__secondary-title h8">Quan hệ cổ đông</div>
          </a>
        </li>
        <li class="ml-auto border-left">
          <!-- Part 1 -->
          <a href="https://ibanking.pvcombank.com.vn/WebIB/MainIB" class="button-text button-text--lg button-text--has-icon-left login-button" id="main-menu__item-group-1" target="_blank">
            <div class="h8 text--le text--b"><span class="optional">Đăng nhập </span>Ngân hàng điện tử</div>
            <i class="icon icon-lock-secured--color-multi"></i>
          </a>
          <!-- Part 2 -->
          <div class="d-none" id="main-menu__item-group-2">
            <a href="tel:1900 5555 92" class="d-flex align-items-center mr-2 header__hotline">
              <i class="icon icon-call-phone--bk mr-lg-half"></i>
              <div class="h9 text--b text--color-bk">1900 5555 92</div>
            </a>
            <div class="border-left d-flex align-items-center">
              <a href="https://ibanking.pvcombank.com.vn/WebIB/MainIB" class="login-button p-1 d-flex">
                <i class="icon icon-lock-secured--color-multi"></i>
              </a>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
