<!-- Button Close -->
<button class="btn-close-nav-mobile p-1 bg-wh" data-toggle="nav-mobile-container" onclick="closeNavMobile(this)">
  <i class="icon icon-close-x--bk"></i>
</button>
<!-- Backdrop -->
<div class="nav-mobile-backdrop bg-gr-60" data-toggle="nav-mobile-container"></div>
<!-- Main Menu -->
<div class="nav-mobile">
  <!-- Header -->
  <div class="nav-mobile__header d-flex justify-content-between bg-ye">
    <a href="https://beta.pvcombank.com.vn/" class="logo pvc--on-yellow ml-3 mt-2 mb-3"></a>
    <a href="https://beta.pvcombank.com.vn/" class="logo pvc--mobile-menu"></a>
  </div>
  <!-- Menu -->
  <ul class="nav-mobile__menu pb-6">
    <!-- Two First Items -->
    <li class="nav-mobile__menu-item">
      <a href="https://ibanking.pvcombank.com.vn/WebIB/MainIB" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-lock-secured--color-multi mr-2"></i> Đăng nhập Ngân hàng điện tử
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline">
        <i class="icon icon-home--color-multi mr-2"></i> Trang chủ
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <!-- Personal Items -->
    <div class="h8 text--b text--color-gr pl-4 pt-4 pb-1">CÁ NHÂN</div>
    <div class="divider-h divider-h--gr"></div>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/dich-vu-the-dmsp40.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-credit-card--color-multi mr-2"></i> Dịch vụ Thẻ
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/san-pham-vay-dmsp39.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-money-stack--color-multi mr-2"></i> Sản phẩm Vay
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/tiet-kiem-dmsp38.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-bank-locked-secure--color-multi mr-2"></i> Tiết kiệm
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/ngan-hang-so-dmsp37.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-computer-mobile-phone--color-multi mr-2"></i> Ngân hàng số
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/tai-khoan-dmsp36.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-account-personal-secure--color-multi mr-2"></i> Tài khoản
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/bao-hiem-dmsp35.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-insurance-shield--color-multi mr-2"></i> Bảo hiểm
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <!-- Business Items -->
    <div class="h8 text--b text--color-gr pl-4 pt-4 pb-1">DOANH NGHIỆP</div>
    <div class="divider-h divider-h--gr"></div>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/tin-dung-doanh-nghiep-dmsp46.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-money-coin-tower--color-multi mr-2"></i> Tín dụng Doanh nghiệp
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/tai-khoan-doanh-nghiep-dmsp45.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-account-business-secure--color-multi mr-2"></i> Tài khoản Doanh nghiệp
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/ngan-hang-giao-dich-dmsp44.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-bank-international--color-multi mr-2"></i> Ngân hàng giao dịch
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <!-- Other Items -->
    <li class="nav-mobile__menu-item mt-5">
      <div class="divider-h divider-h--gr"></div>
      <a href="https://beta.pvcombank.com.vn/lead_form_1?returnUrl=http://beta.pvcombank.com.vn" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-mail-contact--color-multi mr-2"></i> Đăng ký nhận tư vấn
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/mang-luoi.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-branch-building--color-multi mr-2"></i> Tìm chi nhánh gần bạn
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/ti-gia-ngoai-te.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-earth-currency--color-multi mr-2"></i> Tra cứu tỉ giá
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/tinh-lai-suat-va-chuyen-doi-ti-gia" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        <i class="icon icon-calculator--color-multi mr-2"></i> Tính toán lãi&nbsp;suất
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item mb-5">
      <a href="https://beta.pvcombank.com.vn/tim-kiem.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline">
        <i class="icon icon-search-magnifier--color-multi mr-2"></i> Tìm kiếm toàn&nbsp;trang
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <!-- Last Items -->
    <li class="nav-mobile__menu-item">
      <div class="divider-h divider-h--gr"></div>
      <a href="https://beta.pvcombank.com.vn/gioi-thieu-ve-pvcombank.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        Về PVcomBank
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/tin-tuc.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        Tin tức
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://beta.pvcombank.com.vn/co-dong.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        Quan hệ cổ đông
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item">
      <a href="https://tuyendung.pvcombank.com.vn/" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        Tuyển dụng
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
    <li class="nav-mobile__menu-item mb-4">
      <a href="https://beta.pvcombank.com.vn/lien-he.html" class="nav-mobile__menu-link d-flex align-items-center h8 text--b text--color-bk none-underline" target="_blank">
        Liên hệ
      </a>
      <div class="divider-h divider-h--gr"></div>
    </li>
  </ul>
</div>
<!-- END Main Menu -->
